@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-sidebar-nav {
    background-color: green;
}

.fi-sidebar-group-label, .fi-sidebar-item-icon, .fi-sidebar-item-label {
    color: white;
}

.fi-btn {
    background-color: green;
    color: white;
}

.text-primary-600 {
    color: green;
}
